<nb-card>
  <nb-card-header>Ajouter Visite
  </nb-card-header>
  <nb-card-body>

      <div>First Name: {{currentPatient?.firstName}}</div>
      <div>Last Name: {{currentPatient?.lastName}}</div>
      <div>ila5</div>
    <form #ajouterVisite2="ngForm" (ngSubmit)="onSubmit()">


      <div class="form-control-group" >
        <label for="remarks">Remarks :</label>
        <textarea rows="5" name="remarks" nbInput fullWidth [ngModel]="remarks"   placeholder="remarks"  id="remarks"></textarea>
      </div>
      <div class="form-control-group" >
        <label for="additional-info">Additional Infos :</label>
        <textarea rows="5" nbInput name="additional-info" fullWidth [ngModel]="additionalInfo"   placeholder="Additional infos"  id="additional-info"></textarea>
      </div>
      <div class="form-control-group" >
        <label for="ajouter-disease">Ajouter Chronic Disease :</label>
        <input name="chronicDisease" [(ngModel)]="chronicDisease" type="text" nbInput fullWidth placeholder="ajouter disease" id="ajouter-disease">
      </div>
      <div class="form-control-group">
        <label class="label" for="control-date">Date of control:</label>
        <input
          nbInput
          fullWidth
          id="control-date"
          placeholder="Date of birth"
          [nbDatepicker]="datepicker">
        <br>
        <nb-datepicker #datepicker ></nb-datepicker>
      </div>

      <br>
      <button nbButton status="primary" [disabled]="!ajouterVisite2.form.valid">Ajouter</button>
    </form>

  </nb-card-body>
</nb-card>
