<nav id="scanfcode" class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" id="toogle-button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
      <a id="logo" class="navbar-brand" href="#">Scanfcode</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">

      <ul id="link" class="nav navbar-nav navbar-right">
        <li class="dropdown" id="first-link">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">More <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Page 1-1</a></li>
            <li><a href="#">Page 1-2</a></li>
            <li><a href="#">Page 1-3</a></li>
          </ul>
        </li>
        <li><a href='#'>Sign In</a></li>
        <li id="button-link"><a href="#">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
