<nb-card fullWidth>
  <nb-card-header>My Profile</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputFirstName" class="label">First Name</label>
          <input disabled type="text" value="{{selectedPatient?.firstName}}" nbInput fullWidth id="inputFirstName"
                 placeholder="First Name">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputLastName" class="label">Last Name</label>
          <input disabled type="text" value="{{selectedPatient?.lastName}}" nbInput fullWidth id="inputLastName"
                 placeholder="Last Name">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputGender" class="label">Gender</label>
          <input disabled type="text" value="{{selectedPatient.gender == 0 ? 'Male' : 'Female'}}"
                 nbInput fullWidth id="inputGender" placeholder="Gender">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="form-group">
          <label for="inputEmail" class="label">Email</label>
          <input disabled type="email" value="{{selectedPatient?.email}}" nbInput fullWidth id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputPhoneNumber" class="label">Phone Number</label>
          <input disabled type="text" value="{{selectedPatient?.phoneNumber}}" nbInput fullWidth id="inputPhoneNumber"
                 placeholder="Phone Number">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-6">
            <label for="inputBirthday" class="label" style="margin-top: 32px;margin-left: 32px;">Birthday</label>
          </div>
          <div class="col-sm-6">
            <nb-icon style="margin: 25%" icon="birthday-cake" pack="fa"></nb-icon>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" style="margin-top: 27px">

          <input disabled type="text"
                 nbInput
                 fullWidth
                 value="{{selectedPatient?.birthday}}"
                 id="inputBirthday"
                 placeholder="Birthday"
                 [nbDatepicker]="datepicker">
          <nb-datepicker #datepicker></nb-datepicker>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputSocialStatus" class="label">Social Status</label>
          <input disabled type="text" value="{{selectedPatient?.socialStatus}}" nbInput fullWidth id="inputSocialStatus"
                 placeholder="Social Status">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputCIN" class="label">CIN</label>
          <input disabled type="text" value="{{selectedPatient?.cin}}" nbInput fullWidth id="inputCIN"
                 placeholder="CIN">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputCnamId" class="label">Cnam Id</label>
          <input disabled type="text" value="{{selectedPatient?.cnamId}}" nbInput fullWidth id="inputCnamId"
                 placeholder="Cnam Id">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label for="inputCivilStatus" class="label">Civil Status</label>
          <input disabled type="text" value="{{selectedPatient?.civilStatus}}" nbInput fullWidth id="inputCivilStatus"
                 placeholder="Civil Status">
        </div>
      </div>
    </div>
    <hr>
<!--    <button (click)="onSubmit()" style="float: right" type="submit" nbButton matRipple status="success">Update Profile-->
<!--      <nb-icon style="margin-top: 5px" icon="arrow-right" pack="fa"></nb-icon>-->
<!--    </button>-->
  </nb-card-body>
</nb-card>
