<nb-card>
  <nb-card-header>Ajouter Visite</nb-card-header>
  <nb-card-body>
    <h3>Today's Date : {{date | date: 'shortDate' }}</h3>

<form #ajouterVisite="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-control-group" >
      <label for="ajouter-visite">Ajouter Visite</label>
      <input name="id" [(ngModel)]="id" type="number" nbInput fullWidth placeholder="id du patient" id="ajouter-visite">
    </div>
  <br>
    <button nbButton status="primary" [disabled]="!ajouterVisite.form.valid">Ajouter</button>
</form>
  </nb-card-body>
</nb-card>



    <!--<br>
  <div class="row">
  <div class="form-control-group " >
    <label class="label" for="nouveau">Nouveau Patient?</label>

    <nb-radio-group id="nouveau">
 &lt;!&ndash;     formControlName="gender"
      name="gender" &ndash;&gt;


      <nb-radio [value]="0">Oui</nb-radio>
      <nb-radio [value]="1">Non</nb-radio>

    </nb-radio-group>
  </div>
  </div>
<br>
</div>
<div class="col">

    <div class="form-control-group" >
      <label for="Symptoms">Symptomes</label>
      <textarea style="height: 250px" type="text" nbInput fullWidth  id="Symptoms">  </textarea>
    </div>

</div>
  <div class="col">

    <div class="form-control-group" >
      <label for="Prescriptions">Prescriptions</label>
      <textarea style="height: 250px" type="text" nbInput fullWidth  id="Prescriptions">  </textarea>
    </div>

  </div>
</div>-->
