<nb-card>
  <nb-card-header>Ajouter Visite Technique</nb-card-header>
  <nb-card-body>
    <div>First Name: {{currentPatient?.firstName}}</div>
    <div>Last Name: {{currentPatient?.lastName}}</div>
    <div>ila5</div><br>
    <form [formGroup]="visiteTForm" (ngSubmit)="onSubmit()">
      <div class="form-control-group" >
        <label class="label" for="title">Title :</label>
        <input name="Title" formControlName="title" type="text" nbInput fullWidth placeholder="Title" id="title">
      </div><br>
      <div class="form-control-group" >
        <label class="label" for="additional-info">Additional Infos :</label>
        <textarea rows="5" nbInput name="additional-info" fullWidth formControlName="additionalInfo"   placeholder="Additional infos"  id="additional-info"></textarea>
      </div><br>
      <div class="upload-container">
        <div class="drop-zone-sahti" ngxDragAndDrop (fileDropped)="onFileDropped($event)">
          <input
            type="file"
            #fileDropRef
            id="fileDropRef"
            multiple
            (change)="fileBrowseHandler($event.target.files)"
          />
          <nb-icon pack="eva" icon="cloud-upload-outline"></nb-icon>

          <h3>Drag and drop file here</h3>
          <h3>or</h3>
          <label for="fileDropRef">Browse for file</label>
        </div>
        <div class="files-list">
          <div class="single-file" *ngFor="let file of files; let i = index">
            <nb-icon pack="eva" icon="file-text-outline"></nb-icon>
            <div class="info">
              <h4 class="name">
                {{ file?.name }}
              </h4>
              <p class="size">
                {{ formatBytes(file?.size, 10) }}
              </p>
              <!--            <app-progress [progress]="file?.progress"></app-progress>-->
            </div>

            <div class="delete" (click)="deleteFile(i)">
              <nb-icon pack="eva" icon="trash-2-outline"></nb-icon>
            </div>
          </div>
        </div>
      </div>

<!--      <div class="form-control-group" >-->
<!--        <label class="label" for="file">File :</label>-->
<!--       <input id="file" type="file">-->
<!--      </div>-->

    </form>
  </nb-card-body>
</nb-card>
