<div class="grid grid-cols-2 shadow" >
  <div class="flex items-center justify-center pl-px "><img src="../../assets/images/illustration2.png" ></div>
  <div class=" text-lg-center col-span-1 pl-20 flex flex-wrap content-center " ><div class="align-middle">Sahti is bla bla blaa Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis tellus urna, tincidunt a ligula non, rhoncus rutrum eros. Nam efficitur risus vitae urna porta porta. Suspendisse feugiat nisl sit amet consectetur bibendum. Aliquam mattis enim vitae semper maximus. Proin volutpat, sapien vel pharetra vehicula, arcu libero molestie ipsum, vel rhoncus neque augue in dolor. Quisque condimentum maximus mauris, eu varius purus porta at. Nulla bibendum varius sapien, a fermentum risus ullamcorper eget. Quisque dignissim iaculis augue.</div></div>

</div>
