<!--<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>-->

<form [formGroup]="registerForm4" (ngSubmit)="onSubmit()" aria-labelledby="title">

  <div class="form-row">
    <div class="form-group  col-md-4">
      <div class="form-control-group" id="fcg1">
        <label class="label" for="role" id="label">Are you ?</label>
        <nb-radio-group formControlName="specialityType" id="role" class="rg">

          <nb-radio [value]="'patient'" (click)="ChangeOption(1)">A normal patient</nb-radio>
          <nb-radio [value]="'doctor'" (click)="ChangeOption(2)">A doctor</nb-radio>
          <nb-radio [value]="'pharmacist'" (click)="ChangeOption(3)">A pharmacian</nb-radio>
          <nb-radio [value]="'technician'" (click)="ChangeOption(4)">A technician</nb-radio>

        </nb-radio-group>
      </div>
    </div>

    <div class="form-group  col-md-5 sahti-4th-step-feild">
      <div class="form-control-group" *ngIf="ShowDoctor">
        <label class="label" for="DoctorNumber">DoctorNumber:</label>
        <input
          formControlName="doctorNumber"
          nbInput
          id="DoctorNumber"
          placeholder="DoctorNumber">

      </div>
      <div class="form-control-group" *ngIf="ShowDoctor">
        <div class="form-control-group" *ngIf="ShowDoctor">
          <label class="label" for="grade">Grade:</label>
          <input
            nbInput
            formControlName="grade"
            id="grade"
            placeholder="Grade">

        </div>

      </div>
      <div class="form-control-group" *ngIf="ShowDoctor">
        <div class="form-control-group" *ngIf="ShowDoctor">
          <label class="label" for="speciality">Speciality:</label>
          <input
            nbInput
            formControlName="speciality"
            id="speciality"
            placeholder="Speciality">

        </div>

      </div>
      <div class="form-control-group" *ngIf="ShowDoctor">
        <div class="form-control-group" *ngIf="ShowDoctor">
          <label class="label" for="serviceHospital">ServiceHospital:</label>
          <input
            nbInput
            formControlName="serviceHospital"
            id="serviceHospital"
            placeholder="ServiceHospital">

        </div>

      </div>
      <div class="form-control-group" *ngIf="ShowDoctor||ShowTechnician">

        <label class="label" for="officeLocalisation">OfficeLocalisation:</label>
        <input
          nbInput
          formControlName="officeLocalisation"
          id="officeLocalisation"
          placeholder="OfficeLocalisation">


      </div>
      <div class="form-control-group" *ngIf="ShowPharmacian">

        <label class="label" for="pharmacyLocalisation">Pharmacy Localisation:</label>
        <input
          nbInput
          formControlName="pharmacyLocalisation"
          id="pharmacyLocalisation"
          placeholder="Pharmacy Localisation">


      </div>
      <div class="form-control-group" *ngIf="ShowTechnician">

        <label class="label" for="officeType">Office Type:</label>
        <input
          nbInput
          formControlName="officeType"
          id="officeType"
          placeholder="Office Type">


      </div>
      <div class="form-control-group" *ngIf="ShowTechnician">

        <label class="label" for="workField">Work Field:</label>
        <input
          nbInput
          formControlName="workField"
          id="workField"
          placeholder="Work Field">
      </div>
    </div>


  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="!registerForm4.valid"
          [class.btn-pulse]="true">
    Submit
  </button>
</form>



