<form [formGroup]="registerForm4" (ngSubmit)="onSubmit()" aria-labelledby="title">

  <div class="form-row">
    <div class="form-group  col-md-4">
      <div class="form-control-group" id="fcg1">
        <label class="label" for="role" id="label">Are you ?</label>
        <nb-radio-group formControlName="specialityType" id="role" class="rg">

          <nb-radio [value]="'patient'" (click)="ChangeOption(1)">A normal patient</nb-radio>
          <nb-radio [value]="'doctor'" (click)="ChangeOption(2)">A doctor</nb-radio>
          <nb-radio [value]="'pharmacist'" (click)="ChangeOption(3)">A pharmacian</nb-radio>
          <nb-radio [value]="'technician'" (click)="ChangeOption(4)">A technician</nb-radio>

        </nb-radio-group>
      </div>
    </div>

    <div class="form-group  col-md-5 sahti-4th-step-field">
      <div class="form-control-group" *ngIf="ShowDoctor">
        <label class="label" for="DoctorNumber">DoctorNumber:</label>
        <input
          formControlName="doctorNumber"
          nbInput
          id="DoctorNumber"
          placeholder="DoctorNumber">
        <ng-container *ngIf="registerForm4.controls.doctorNumber.touched">
          <p class="error-message" *ngIf="registerForm4.hasError('doctorNumberNaN')">
            {{registerForm4.errors['doctorNumberNaN']}}
          </p>
          <p class="error-message" *ngIf="registerForm4.hasError('doctorNumberNull')">
            {{registerForm4.errors['doctorNumberNull']}}
          </p>
        </ng-container>

      </div>
      <div class="form-control-group" *ngIf="ShowDoctor">
        <div class="form-control-group" *ngIf="ShowDoctor">
          <label class="label" for="grade">Grade:</label>
          <input
            nbInput
            formControlName="grade"
            id="grade"
            placeholder="Grade">
          <ng-container *ngIf="registerForm4.controls.grade.touched">
            <p class="error-message" *ngIf="registerForm4.hasError('gradeNull')">
              {{registerForm4.errors['gradeNull']}}
            </p>
          </ng-container>

        </div>

      </div>
      <div class="form-control-group" *ngIf="ShowDoctor">
        <div class="form-control-group" *ngIf="ShowDoctor">
          <label class="label" for="speciality">Speciality:</label>
          <input
            nbInput
            formControlName="speciality"
            id="speciality"
            placeholder="Speciality">
          <ng-container *ngIf="registerForm4.controls.speciality.touched">
            <p class="error-message" *ngIf="registerForm4.hasError('specialityNull')">
              {{registerForm4.errors['specialityNull']}}
            </p>
          </ng-container>

        </div>

      </div>
      <div class="form-control-group" *ngIf="ShowDoctor">
        <div class="form-control-group" *ngIf="ShowDoctor">
          <label class="label" for="serviceHospital">ServiceHospital:</label>
          <input
            nbInput
            formControlName="serviceHospital"
            id="serviceHospital"
            placeholder="ServiceHospital">
          <ng-container *ngIf="registerForm4.controls.serviceHospital.touched">
            <p class="error-message" *ngIf="registerForm4.hasError('serviceHospitalNull')">
              {{registerForm4.errors['serviceHospitalNull']}}
            </p>
          </ng-container>

        </div>

      </div>
      <div class="form-control-group" *ngIf="ShowDoctor||ShowTechnician">

        <label class="label" for="officeLocalisation">OfficeLocalisation:</label>
        <input
          nbInput
          formControlName="officeLocalisation"
          id="officeLocalisation"
          placeholder="OfficeLocalisation">
        <ng-container *ngIf="registerForm4.controls.officeLocalisation.touched">
          <p class="error-message" *ngIf="registerForm4.hasError('officeLocalisationNull')">
            {{registerForm4.errors['officeLocalisationNull']}}
          </p>
        </ng-container>

      </div>
      <div class="form-control-group" *ngIf="ShowPharmacian">

        <label class="label" for="pharmacyLocalisation">Pharmacy Localisation:</label>
        <input
          nbInput
          formControlName="pharmacyLocalisation"
          id="pharmacyLocalisation"
          placeholder="Pharmacy Localisation">
        <ng-container *ngIf="registerForm4.controls.pharmacyLocalisation.touched">
          <p class="error-message" *ngIf="registerForm4.hasError('pharmacyLocalisationNull')">
            {{registerForm4.errors['pharmacyLocalisationNull']}}
          </p>
        </ng-container>

      </div>
      <div class="form-control-group" *ngIf="ShowTechnician">

        <label class="label" for="officeType">Office Type:</label>
        <input
          nbInput
          formControlName="officeType"
          id="officeType"
          placeholder="Office Type">
        <ng-container *ngIf="registerForm4.controls.officeType.touched">
          <p class="error-message" *ngIf="registerForm4.hasError('officeTypeNull')">
            {{registerForm4.errors['officeTypeNull']}}
          </p>
        </ng-container>

      </div>
      <div class="form-control-group" *ngIf="ShowTechnician">

        <label class="label" for="workField">Work Field:</label>
        <input
          nbInput
          formControlName="workField"
          id="workField"
          placeholder="Work Field">
        <ng-container *ngIf="registerForm4.controls.workField.touched">
          <p class="error-message" *ngIf="registerForm4.hasError('workFieldNull')">
            {{registerForm4.errors['workFieldNull']}}
          </p>
        </ng-container>
      </div>
    </div>


  </div>

  <button nbButton
          fullWidth
          status="success"
          [disabled]="!registerForm4.valid"
          [class.btn-pulse]="true">
    Submit
  </button>
</form>



