
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
  justify-content: space-around;
}
#fcg1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#label {
margin-bottom: 15px;
}

.rg {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form-group.sahti-4th-step-feild{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .form-control-group{
    margin-bottom: 10px!important;
  }
}
