<nb-card>
  <nb-card-header>My Profile</nb-card-header>
  <nb-card-body><div class="row">
    <div class="col-md-6">
      <h6>Doctor :</h6>
      <button nbButton status="primary">{{selectedDoctor?.firstName}}  {{selectedDoctor.lastName}}</button>
      <h6 style="margin-top:5%">Speciality :</h6>
      <button nbButton status="danger">{{selectedDoctor?.speciality}}</button>
      <h6 style="margin-top:5%">Number :</h6>
      <button nbButton status="warning">{{selectedDoctor?.doctorNumber}}</button>
    </div>
    <div class="col-md-6">
      <h6>CnamID :</h6>
      <button nbButton status="success">{{selectedDoctor?.cnamId}}</button>
      <h6 style="margin-top:5%">Grade :</h6>
      <button nbButton status="info">{{selectedDoctor?.grade}}</button>
      <h6 style="margin-top:5%">Number :</h6>
      <button nbButton status="danger">{{selectedDoctor?.doctorNumber}}</button>
    </div>
    <!--<div class="col-xxl-5">
      <h6>Office Local :</h6>
      <button nbButton status="success">{{selectedDoctor?.cnamId}}</button>
      <h6 style="margin-top:5%">Grade :</h6>
      <button nbButton status="info">{{selectedDoctor?.grade}}</button>
      <h6 style="margin-top:5%">Number :</h6>
      <button nbButton status="danger">{{selectedDoctor?.doctorNumber}}</button>
    </div>-->
  </div></nb-card-body>

</nb-card>
