<nb-card>
  <nb-card-header>Prescriptions</nb-card-header>
  <nb-card-body>
<nb-accordion *ngFor="let prescription of Prescriptions"><nb-accordion-item>
  <nb-accordion-item-header >Prescription N°  {{prescription.id}}</nb-accordion-item-header>
  <nb-accordion-item-body>
    <div>created at: {{prescription.createdAt}}</div>
    <div>remarks: {{prescription.remarks}}</div>
    <div>Medicaments :</div>
    <div *ngFor="let medicament of prescription.medicaments">{{medicament.name}}</div>
    <button nbButton status="primary" (click)="check(prescription.id); clicked[prescription.id] = true;" *ngIf="prescription.status==='not-checked'" [disabled]="clicked[prescription.id]">Check</button>
  </nb-accordion-item-body>
</nb-accordion-item></nb-accordion>
  </nb-card-body>
</nb-card>
